@media only screen and (max-width:500px){
    #book-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* padding: 10%; */
    }
    .btn{
        margin-top: 10%;
    }
}